<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "slideout.html" . }}
  <header id="header" class="header">
  <div class="header-div">
      {{ partial "header.html" . }}
  </div>
  </header>
  {{/*
  {{ partial "search.html" . }}
  */}}
  <div class="container" >
    <main id="main" class="main">
      <!-- sidebar -->
      {{ if or .IsHome .Params.sidebar }}
        {{ partial "sidebar.html" . }}
      {{ end }}
      <div class="content-wrapper" id="mobile-panel">
        <div id="content" class="content">
          {{ block "content" . }}{{ end }}
        </div>
        {{ partial "comments.html" . }}
      </div>
    </main>

    <footer id="footer" class="footer">
      {{ partial "footer.html" . }}
    </footer>

    <div class="back-to-top" id="back-to-top">
      <i class="iconfont icon-up"></i>
    </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
