<div class="index_info">

    <div class="index_title">
        {{- if .Site.Params.logoTitle -}}
            {{ .Site.Params.logoTitle | safeHTML }}
        {{- else -}}
            {{ .Site.Title | safeHTML }}
        {{- end -}}
    </div>
    <div class="index_avatar">
        <a href="/about/">
            <img src="{{ .Site.Author.avatar }}">
        </a>
    </div>

    <div class="index_menu">
        <ul id="menu" class="menu">
            {{ $currentPage := . }}
            {{ $menus := .Site.Params.icons }}
            {{ range .Site.Menus.main }}
            <li class="menu_item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a class="menu_item_link" href="{{ .URL | safeURL }}">
                    {{ $id := .Identifier }}
                    {{ range $menus }}
                        {{ if eq $id .id }}
                            <i class="fa fa-fw fa-{{.icon}}"></i>
                        {{ end }}
                    {{ end }}
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>

        <nav class="index_site">
            <div class="site-state-item">
                <a href="/post/">
                    <span class="site-state-item-count">{{ len (where .Site.AllPages "Type" "post") }}</span>
                    <span> 日志</span>
                </a>
            </div>
            <div class="site-state-item">
                <a href="/categories/">
                    <span class="site-state-item-count">{{ len .Site.Taxonomies.categories }}</span>
                    <span> 分类</span>
                </a>
            </div>

            <div class="site-state-item">
                <a href="/tags/">
                    <span class="site-state-item-count">{{ len .Site.Taxonomies.tags }}</span>
                    <span> 标签</span></a>
            </div>
        </nav>

    <div class="index_desc">
        {{ .Site.Author.description }}
    </div>

    <div class="index_social">
        <!-- <div class="social_title">
            社交
        </div> -->

        {{- range $name, $path := .Site.Params.social }}
        {{- if $path }}
        {{- $names := split $name "-" }}
        <a href="{{ $path | safeURL }}">
            <span class="fa-stack">
                <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                {{ range $k,$v := $names }}
                {{if eq $k 1}}
                    <i class="fa fa-{{$v}} "></i>
                {{end}}
                {{ end }}
            </span>
        </a>
        {{- end }}
        {{- end }}
        {{ if .Site.LanguagePrefix -}}
        <a href="{{ .Site.LanguagePrefix | absURL }}/index.xml" type="application/rss+xml" title="rss">
            <span class="fa-stack">
                <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {{- else -}}
        <a href="{{ .Site.RSSLink }}" type="application/rss+xml" title="rss">
            <span class="fa-stack">
                <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                <i class="fa fa-rss fa-stack-1x "></i>
            </span>
        </a>
        {{- end }}
    </div>

    <div class="index_archive">
        <div class="archive_title">
            最新文章
        </div>

        {{ $paginator := .Paginate (where (where .Data.Pages "Type" "post") ".Params.hiddenfromhomepage" "!=" true) }}
        {{ range $paginator.Pages }}
        <div class="archive_post">
            <span class="post_time">
                {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
            </span>
            <span class="post_title">
                <a href="{{ .URL }}" class="post_link">
                    {{ .Title }}
                </a>
            </span>
        </div>
        {{ end }}
        <div class="archive_post">
            <span class="post_title">
                <a href="/post" class="post_link">
                    更多文章...
                </a>
            </span>
        </div>

    </div>
</div>