.index_info {
  margin-left: auto;
  margin-right: auto;
  // width: 500px;
  padding: 50px;
  // border-radius: 5px;
  // margin-top: 50px;

  a {
    &:hover,
    &:focus {
      color: $theme-color;
    }
  }

  .index_social{
    // text-align: center;
    margin-top: 5px;

    .social_title {
      margin: 20px 0;
      font-size: 20px;
    }
  }

  .index_title {
    // text-align: center;
    // margin-top: 25px;
    position: absolute;
    left: 160px;
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }

  .index_desc {
    // text-align: center;
    margin-top: 10px;
    line-height: 2;
  }

  .index_menu {
    display: inline-block;

    .menu {
      .menu_item {
        margin-right: 15px;
        display: inline-block;
      }
    }
  }

  .index_site {
    text-align: center;
    // margin-top: 25px;
    display: none;

    .site-state-item {
      display: inline-block;
      padding: 0 20px;

      .site-state-item-count {
        display: block;
        text-align: center;
      }
    }
  }

  .index_avatar {
    // margin-top: 40px;
    display: inline-block;

    img{
      display: block;
      margin: 0 auto;
      max-width: 65px;
      -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
      -webkit-border-radius: 100%;
      border-radius: 100%;

      /* 鼠标经过头像旋转360度 */
      -webkit-transition: -webkit-transform 1.5s ease-out;
      -moz-transition: -moz-transform 1.5s ease-out;
      transition: transform 1.5s ease-out;

      &:hover {
        /* 鼠标经过头像旋转360度 */
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
      }
    }

    .site-state-item {
      display: inline-block;
      padding: 0 10px;
    }

    .site-state-item-count {
      display: block;
      text-align: center;
    }
  }

  .index_archive {
    // margin: 0 auto;
    // width: 300px;
    margin-top: 40px;

    .archive_title {
      margin: 20px 0;
      font-size: 20px;
    }
    .archive_post {
      padding: 5px 25px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .post_time {
        margin-right: 15px;
        color: $dark-gray;
      }

      &:hover {
        transition: $archive-post-hover-transition;
        transform: $archive-post-hover-transform;

        .post_time {
          color: darken($dark-gray, 10%);
        }

        .post_title .post_link {
          color: darken($theme-color, 10%);
        }
      }
    }
  }
}

@include max-screen($toc-max-sreen-width) {
  .index_menu {
    display: none !important;
  }
  .index_site {
    display: block !important;
  }
}