.query-div {
    .search-query {
        display: inline-block;
        padding: 8px;
        height: 30px;
        // display: block;
        width: 70%;
        outline: 0;
        border: 1px solid #D5D5D5;
        border-radius: 5px;
        background: 0 0;
        margin: 20px 40px;
    }

    .query-icon {
        display: inline-block;
        // float: right;
        height: 30px;
        font-size: 27px;
        color: #999;
        cursor: pointer;
        margin-left: -75px;
    }
}