.sidebar {
  float: right;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  color: #bfbfbf !important;

  hr {
    // margin-top: 20px;
    // margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  a {
    color: #bfbfbf!important;

    &:hover,
    &:focus {
      color: #c05b4d !important;
    }
  }

  .sidebar-category,
  .sidebar-tag,
  .sidebar-friends,
  .sidebar-about,
  .sidebar-tags,
  .sidebar-social{
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sidebar-about{
    margin-top: 40px;

    img{
      display: block;
      margin: 0 auto;
      max-width: 96px;

      /* 设置循环动画 [animation: (play)动画名称 (2s)动画播放时长单位秒或微秒 (ase-out)动画播放的速度曲线为以低速结束
        (1s)等待1秒然后开始动画 (1)动画播放次数(infinite为循环播放) ]*/
      -webkit-animation: play 2s ease-out 1s 1;
      -moz-animation: play 2s ease-out 1s 1;
      animation: play 2s ease-out 1s 1;

      /* 鼠标经过头像旋转360度 */
      -webkit-transition: -webkit-transform 1.5s ease-out;
      -moz-transition: -moz-transform 1.5s ease-out;
      transition: transform 1.5s ease-out;

      &:hover {
        /* 鼠标经过停止头像旋转
        -webkit-animation-play-state:paused;
        animation-play-state:paused;*/

        /* 鼠标经过头像旋转360度 */
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
      }
    }

    /* Z 轴旋转动画 */
    @-webkit-keyframes play {
      0% {
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        -webkit-transform: rotateZ(-360deg);
      }
    }
    @-moz-keyframes play {
      0% {
        -moz-transform: rotateZ(0deg);
      }
      100% {
        -moz-transform: rotateZ(-360deg);
      }
    }
    @keyframes play {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(-360deg);
      }
    }

    .site-state-item {
      display: inline-block;
      padding: 0 10px;
    }

    .site-state-item-count {
      display: block;
      text-align: center;
    }
  }

  .sidebar-friends {
    .list-inline {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
    }

    .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
  }
}


.sidebar-category,
.sidebar-tag {
  .taxonomy-counts {
    display: inline-block;
    position: relative;
    top: -5px;
    right: -2px;
    color: #c05b4d;
    /* font-size: 1px; */
  }

  .taxonomy-name {
      display: inline-block;
      border: 1px solid rgb(191, 191, 191);
      border-radius: 999em;
      padding: 0 10px;
      color: #fff;
      line-height: 24px;
      font-size: 12px;
      text-decoration: none;
      margin: 0 1px;
      margin-bottom: 6px;
  }
}


@include max-screen($toc-max-sreen-width) {
  .sidebar {
    display: none;
  }
}


// .site-author-name {
//   margin: $site-author-name-margin;
//   text-align: $site-author-name-align;
//   color: $site-author-name-color;
//   font-weight: $site-author-name-weight;
// }

// .site-description {
//   margin-top: $site-description-margin-top;
//   text-align: $site-description-align;
//   font-size: $site-description-font-size;
//   color: $site-description-color;
// }
